# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache
playwright/.auth

# Segurança
.env
.env.*

# Dependencias
node_modules/

# Sistema e Editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs e Cache
*.log
.eslintcache